@tailwind base;
@tailwind components;
@tailwind utilities;

/* // add the code bellow */
@layer utilities {
    @variants responsive {
        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
    }
}

h1,
h2 {
    font-family: "Agbalumo", "serif" !important ;
    font-weight: 500 !important;
}

.parallax > use {
    animation: move-forever 20s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 3s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 4s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 5s;
}
.parallax > use:nth-child(4) {
    animation-delay: -2s;
    animation-duration: 10s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
    .content {
        height: 30vh;
    }
    h1 {
        font-size: 24px;
    }
}

/*process section*/

.line-dash-path {
    stroke-dasharray: 4;
    stroke-dashoffset: 350;
}

.fb-hover:hover {
    background: linear-gradient(
        266.81deg,
        #1877f2 -6.56%,
        #1877f2 34.02%,
        #1877f2 60.87%,
        #4284dc 103.55%
    );
}

.instagram-hover:hover {
    background: linear-gradient(
        266.81deg,
        #d500bf -6.56%,
        #f80095 34.02%,
        #ff005d 60.87%,
        #ffc300 103.55%
    );
}

.pinterest-hover:hover {
    background: linear-gradient(
        266.81deg,
        #fe005f -6.56%,
        #fe005f 34.02%,
        #fe005f 60.87%,
        #fe005f 103.55%
    );
}
.linkedin-hover:hover {
    background: linear-gradient(
        266.81deg,
        #0077b5 -6.56%,
        #0077b5 34.02%,
        #0077b5 60.87%,
        #0077b5 103.55%
    );
}
.twitter-hover:hover {
    background: linear-gradient(
        266.81deg,
        #26a8ff -6.56%,
        #26a8ff 34.02%,
        #26a8ff 60.87%,
        #26a8ff 103.55%
    );
}

.blogBanner::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #080211;
    opacity: 0.6;
}

.blackLayer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    transition: transform 0s linear -1ms, -webkit-transform 0s linear -1ms;
    visibility: hidden;
    z-index: -100;
}
.blogBg {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 1536px;
    height: 670px;
    overflow: hidden;
    pointer-events: none;
    transition: transform 0s linear -1ms, -webkit-transform 0s linear -1ms;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url("./assets/blog/banner.webp");
    background-size: 1536px 687.36px;
    visibility: visible;
    transform: translate3d(0px, 0px, 0px);
}

/* .slick-slide{
    margin-left: 10px !important;
    margin-right:  10px !important;
} */

/* .slick-current{
    transform: scale(1.1);
}
.slick-current .card{
    background-color: white !important;
    
}
.card{
    border-radius: 20px;
    box-shadow: 0 16px 32px #0000000a, 0 0 1px #00000040;
} */

:root {
    --primary: #6a59ff;
    --white: #ffffff;
    --bg: #f5f5f5;
}

html {
    /* font-size: 62.5%; */
    scroll-behavior: smooth;
}
input{
    padding: 6px 10px !important;
    margin: 0 !important;
}
/* @media (min-width: 1440px) {
    html {
      zoom: 1.5;
    }
  }
  
  @media (min-width: 2560px) {
    html {
      zoom: 1.7;
    }
  }
  
  @media (min-width: 3860px) {
    html {
      zoom: 2.5;
    }
  }  */

.containers {
    font-size: 62.5%;
    /* max-width: 124rem !important; */
    /* padding: 4rem 1rem !important; */
    /* margin: 0 auto !important; */
}

.swiper_container {
    /* height: 480px !important; */
    padding: 2rem 0 !important;
    position: relative !important;
}

.swiper-slide {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 20px 3px;
    width: 26rem !important;
    height: 28rem !important;
    position: relative !important;
    background-color: white;
    border-radius: 20px;
    /* border: 1px solid #eaeaea; */
}

@media (max-width: 500px) {
    .swiper_container {
        height: 47rem;
    }
    .swiper-slide {
        width: 28rem !important;
        height: 36rem !important;
    }
    .swiper-slide .slide_image {
        /* width: 28rem !important; */
        height: 36rem !important;
    }
}
.swiper-slide .card-desc {
    padding: 10px;
}

.swiper-slide .slide_image {
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    /* width: 22rem !important; */
    /* height: 22rem ! important; */
    /* border-radius: 2rem !important; */
    object-fit: cover !important;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none;
}

.slider-controler {
    /* position: relative !important; */
    bottom: 8.6rem !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.slider-controler .swiper-button-next {
    position: absolute;
    left: 95% !important;
    transform: translateX(95%) !important;
}

@media (max-width: 990px) {
    .slider-controler .swiper-button-next {
        left: 70% !important;
        transform: translateX(-70%) !important;
    }
}

@media (max-width: 450px) {
    .slider-controler .swiper-button-next {
        left: 80% !important;
        transform: translateX(-80%) !important;
    }
}

@media (max-width: 990px) {
    .slider-controler .swiper-button-prev {
        left: 30% !important;
        transform: translateX(-30%) !important;
    }
}

@media (max-width: 450px) {
    .slider-controler .swiper-button-prev {
        left: 20% !important;
        transform: translateX(-20%) !important;
    }
}

.slider-controler .slider-arrow {
    background: white;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    left: 0%;
    /* transform: translateX(0%); */
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow ion-icon {
    font-size: 1.3rem !important;
    color: #222224 !important;
}

.slider-controler .slider-arrow::after {
    content: "";
}

.swiper-pagination {
    position: relative !important;
    width: 15rem !important;
    bottom: 0.6rem !important;
}

.swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1)) !important;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background: gray;
}
